kfp~=2.0.0b13
pandas~=1.5.3
scikit-learn
minio~=7.1.14
numpy
feast~=0.29.0
matplotlib
seaborn
xgboost
category-encoders
SQLAlchemy==2.0.5.post1
alembic~=1.10.2
isoduration~=20.11.0
keras
tensorflow
joblib
protobuf==3.20.1